@font-face {
    src: url(fonts/Roboto-Light.ttf);
    font-family: RobotoLight;
}

@font-face {
    src: url(fonts/Montserrat-Light.ttf);
    font-family: Monsterrat;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    font-family: RobotoLight, Arial, sans-serif;
}

footer {
    margin: 10px;
    font-family: RobotoLight, Arial, sans-serif;
    font-size: 0.8em;
}

span.MyPortfolio {
    font-weight: 600;
}

span.MyPortfolio:hover {
    text-shadow: rgb(218, 170, 50) 1px 0px 1px;
}

h1 {
    text-align: center;
    font-size: xxx-large;
}

h2 {
    font-size: xx-large;
    font-family: Monsterrat, Arial, sans-serif;
    margin-bottom: 12.5px;
    padding: 10px;
}

h3 {
    font-size: 1.1em;
    font-family: RobotoLight, Arial, sans-serif;
}

h4 {
    font-size: large;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 160px;
    text-align: justify;
    line-height: 1.5;
}

header {
    padding-top: 1px;
    background-color: gray;
    font-family: Monsterrat, Arial, sans-serif;
}

nav {
    display: flex;
    margin: 0px;
}

nav button {
    display: block;
    float: left;
    height: 35px;
    background-color: rgb(53, 53, 53);
    border-radius: 6px;
    overflow: hidden;
}

nav button:hover {
    box-shadow: 2px 2px black;
    transform: scale(1.05);
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    padding: 15px;
    font-family: Monsterrat, Arial, sans-serif;
}

nav .image {
    height: 17.5px !important;
}

form {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 255px;
}

form label {
    font-size: 0.8em;
    margin-bottom: 5px;
}

form textarea {
    width: 700px;
    min-width: 255px;
}

.submit {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    background-color: rgb(53, 53, 53);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: RobotoLight, Arial, sans-serif;

}

.submit:hover {
    box-shadow: 3px 3px black;
}

input {
    padding: 5px;
}

#me {
    flex-shrink: 0;
    max-width: 200px;
    border-radius: 10px;
    border: 5px solid black;

}

#about-me-flex {
    display: flex;
    align-items: center;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 10px;
}

#about-me-text {
    font-size: larger;
    padding: 40px;
    margin-left: 50px;
}

#project-list {
    margin-top: 20px;
}

.project {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(53, 53, 53);
    border-radius: 10px;
    text-align: center;
}

.project:hover {
    box-shadow: 3px 3px rgb(0, 0, 0);
    transform: scale(1.05);
}

.project p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;

}

.project h5 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.4em;
    color: rgb(53, 53, 53);
}

